<div class="pt-20 text-white px-5 lg:px-20">
  <app-order-card [orderItems]="orders.orderItems[0]"
                  [payingAmount]="orders.totalDiscountedPrice"></app-order-card>
</div>

<!--<div class="text-white px-5 lg:px-20 lg:grid grid-cols-3" *ngFor="let item of items; let i = index">-->
<div class="grid grid-cols-4 gap-4">
  <div class="text-white lg:px-10" *ngFor="let item of items; let i = index">
    <div class="box px-10 items-center rounded-2xl"
         [style.background-color]="getStatusBackgroundColor(i)">
      <h1 class="text-lg font-semibold py-5">{{ getInstallmentName(i) }} installment</h1>
      <div class="text-lg mt-2" style="font-size:18px">
        <span>Amount to be paid: Rs {{installmentMoney}}</span><br>
        <span>Fine: Rs 0</span>
      </div>
      <div class="text-lg mt-2" style="font-size:18px">
        <span>Next payment date: March 20</span><br>
        <span>Status: {{ getStatusLabel(i) }}</span>
      </div>
      <button mat-raised-button
              style="padding: 1.5rem;"
              class="text-lg mt-8 p-28 px-10 w-full"
              (click)="makeInstallmentPayment(getInstallmentName(i))"
              [ngStyle]="{'background-color': getStatusBackgroundColor(i) ? '#3bddb0' : 'grey', 'color':'black'}"
              [disabled]="!getStatusBackgroundColor(i)">
        Make {{ getInstallmentName(i) }} installment
      </button>
      <br>
    </div>
  </div>
</div>
