<div class="pt-20 text-white px-5 lg:px-20">
  <app-order-card [orderItems]="orders.orderItems[0]"
                  [payingAmount]="orders.totalDiscountedPrice"></app-order-card>
</div>

<!--<div class="text-white px-5 lg:px-20 lg:grid grid-cols-3" *ngFor="let item of items; let i = index">-->
<div class="grid grid-cols-4 gap-4">
  <div class="text-white lg:px-10" *ngFor="let item of items; let i = index">
    <div class="box px-10 items-center rounded-2xl"
         [style.background-color]="getStatusBackgroundColor(i)">
      <h1 class="text-lg font-semibold py-5">{{ getInstallmentName(i) }} installment</h1>
      <div class="text-lg mt-2" style="font-size:18px">
        <span>Amount to be paid: Rs {{installmentMoney}}</span><br>
        <span>Fine: Rs 0</span>
      </div>
      <div class="text-lg mt-2" style="font-size:18px">
        <span>Next payment date: {{orders.dueDate}}</span><br>
        <span>Status: {{ getStatusLabel(i) }}</span>
      </div>
      <button mat-raised-button
              style="padding: 1.5rem;"
              class="text-lg mt-8 p-28 px-10 w-full"
              (click)="makeInstallmentPayment($event)"
              [ngStyle]="{'background-color': getStatusBackgroundColor(i) ? '#3bddb0' : 'grey', 'color':'black'}"
              [disabled]="!getStatusBackgroundColor(i)">
        Make {{ getInstallmentName(i) }} installment
      </button>
      <br>
    </div>
  </div>
</div>
<div class="form-container">
  <form [formGroup]="esewaForm" (ngSubmit)="makeInstallmentPayment($event)" class="hidden-form">
    <label>Amount</label>
    <input type="text" id="amount" formControlName="amount" value="80" class="form" required><br>

    <label>Tax Amount</label>
    <input type="text" id="tax_amount" formControlName="tax_amount" value ="10" class="form" required><br>

    <label>Total Amount</label>
    <input type="text" id="total_amount" formControlName="total_amount" value="100" class="form" required><br>

    <label>Transaction UUID</label>
    <input type="text" id="transaction_uuid" formControlName="transaction_uuid" value="11-200-11" class="form" required><br>

    <label>Product Code</label>
    <input type="text" id="product_code" formControlName="product_code" value ="EPAYTEST" class="form" required><br>

    <label>Product Service Charge</label>
    <input type="text" id="product_service_charge" formControlName="product_service_charge" value="5" class="form" required><br>

    <label>Product Delivery Charge</label>
    <input type="text" id="product_delivery_charge" formControlName="product_delivery_charge" value="5" class="form" required><br>

    <label>Success URL</label>
    <input type="text" id="success_url" formControlName="success_url" value="https://esewa.com.np" class="form" required><br>

    <label>Failure URL</label>
    <input type="text" id="failure_url" formControlName="failure_url"  value="https://google.com" class="form" required><br>

    <label>Signed Field Names</label>
    <input type="text" id="signed_field_names" formControlName="signed_field_names" value="total_amount,transaction_uuid,product_code" class="form" required><br>

    <label>Signature</label>
    <input type="text" id="signature" formControlName="signature" value="4Ov7pCI1zIOdwtV2BRMUNjz1upIlT/COTxfLhWvVurE=" class="form" required><br>
  </form>
</div>

<table align="center"  class="hidden-form">
  <tr>
    <td>Secret Key:</td>
    <td><input type="text" id="secret" name="secret" value="8gBm/:&EnhH.1/q" class="form"  required></td>
  </tr>
</table>
