<div class="py-20 text-white px-5 lg:px-20">
  <div class="py-5">
    <h2 class="text-center py-2">Order Status</h2>
    <app-order-tracker [activeStep]="activeStep" [steps]="steps"></app-order-tracker>
  </div>

  <div class="flex flex-row-reverse gap-2" *ngIf="orders.orderStatus === 'PENDING'">

    <button mat-raised-button class="text-white font-medium py-2 px-4 rounded"
            [ngStyle]="{'background-color': '#30f851', 'color':'black'}"
            (click)="proceedOrder()"
            type="button">
      Proceed to Payment
    </button>

    <button mat-raised-button class="text-white font-medium py-2 px-4 rounded"
            [ngStyle]="{'background-color': '#f83041', 'color':'black'}"
            (click)="cancelOrder()"
            type="button">
      Cancel Order
    </button>
  </div>

  <div class="space-y-10 pt-10">
    <div class="box px-10">
      <h1 class="text-lg font-semibold py-5">Shipping Address</h1>
      <app-address-card></app-address-card>
    </div>

    <div class="space-y-6 mt-20">
      <div *ngFor="let orderItem of orders.orderItems">
        <app-order-card
          [payingAmount]="orders.totalDiscountedPrice"
          [orderItems]="orderItem" [orderStatus]="orders.orderStatus"></app-order-card>
      </div>
    </div>
  </div>

  <div class="mt-20 bg-black text-white" *ngIf="orders.orderStatus === 'DELIVERED'">
    <h2 class="text-lg font-semibold py-5 text-center">My Reviews</h2>
    <mat-tab-group #tabGroup>
      <mat-tab label="To Review">
        <div class="mt-10 bg-black text-white">
          <div class="flex justify-center">
            <div class="mb-4">
              <h2 class="text-lg font-semibold py-5 text-center">Rate your experience: </h2>
              <div class="flex items-center justify-evenly" style="cursor:pointer">
                <span *ngFor="let star of stars; let i = index" class="star" (click)="rate(star, i)"
                      [ngClass]="{'active': star <= currentRating}">
                      <mat-icon>{{star <= currentRating ? 'star' : 'star_border'}}</mat-icon>
                </span>
              </div>
              <div *ngIf="isRated">
                <div class="mb-4 mt-5">
                  <label class="block text-white text-sm font-medium mb-2" for="review">
                    Write your review:
                  </label>
                  <textarea
                    [(ngModel)]="review"
                    name="review"
                    class="shadow appearance-none border rounded h-20 w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline"
                    id="reviews" placeholder="Your review..."></textarea>
                </div>

                <div class="flex items-center justify-between w-full">
                  <button mat-raised-button class="text-white font-medium py-2 px-4 rounded w-full"
                          [ngStyle]="{'background-color': '#30c2f8', 'color':'black'}"
                          (click)="submitReview()"
                          type="button">
                    Submit Review
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="History">
        <div class="mt-10 bg-black text-white">
          <h2 class="text-lg font-semibold text-center">Your Review</h2>
          <div class="custom-div">
            <app-star-rating [numberOfStars]="rating"></app-star-rating>
            <textarea
              class="bg-transparent border border-white rounded py-2 px-3 text-white w-full"
              id="review" placeholder="Your review..." readonly>{{userReview}}</textarea>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
