<div class="w-full">
  <div class="bg-gray-950 text-white w-full h-1/2 shadow-lg p-6">
    <div class="flex justify-around">
      <div class="flex flex-col" *ngFor="let item of category [selectedSection].sections">
        <h1 class="text center">{{item.name}}</h1>
        <button (click)="handleNavigate('/'+selectedSection+'/'+item.id+'/'+section.id)"
                mat-button
                *ngFor="let section of item.items">
          {{section.name}}
        </button>
      </div>
      <div class="hidden lg:block">
        <div class="mb-5">
          <img class="w-[19rem] h-[20rem] object-cover object-top rounded-md"
               src="https://duet-cdn.vox-cdn.com/thumbor/0x0:2080x1169/828x552/filters:focal(1040x585:1041x586):format(webp)/cdn.vox-cdn.com/uploads/chorus_asset/file/24916101/Screenshot_2023_09_12_at_1.19.32_PM.png" alt="">

        </div>
        <p class="text-white-600">New Arrival</p>
      </div>
      <div class="hidden lg:block">
        <div class="mb-5">
          <img class="w-[19rem] h-[20rem] object-cover object-top rounded-md"
               src="https://cdn.mos.cms.futurecdn.net/yFVTwgKyQ3uuEf4DRx6imK.jpg" alt="">

        </div>
        <p class="text-gray-600">New Arrival</p>
      </div>
    </div>
  </div>
</div>
