<div class="fixed top-0 z-50 right-0 left-0 h-16 bg-[#0f0f0f] text-grey-800">
  <div class="px-5 lg:px-20 h-16 flex items-center justify-between">

    <div class="flex items-center">
      <img class="w-8 mr-5" src="assets/logo.png" alt="Drizzle logo">

      <div class="">
        <div class="flex items-center space-x-4">
          <a routerLink="/" class="font-semibold text-lg">
            Drizzle
          </a>
          <div>
            <button class="open-button" (click)="openNavbarContent('smart_phone')" mat-button>Smart Phone</button>
          </div>
          <div>
            <button class="open-button" (click)="openNavbarContent('laptop')" mat-button>Laptop</button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center">
      <button (click)="navigateTo('cart')" mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>

      <button (click)="handleOpenLoginModel()" *ngIf="true" mat-raised-button color="accent">LOGIN</button>

      <div *ngIf="false" class="relative ml-3 flex items-center">
        <div class="flex items-center space-x-5">
          <span class="font-bold text-lg">Don</span>
          <button mat-button [matMenuTriggerFor]="profileMenu">
            <img class="h-7 w-7" src="https://cdn.pixabay.com/photo/2015/03/04/22/35/avatar-659651_640.png" alt="">
          </button>

          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item (click)="navigateTo('account/orders')">Orders</button>
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Logout</button>
          </mat-menu>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="isNavbarContentOpen" class="absolute right-0 left-0 modal-container">
    <app-nav-content [selectedSection]="currentSection"></app-nav-content>
  </div>
</div>
