@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #0f0f0f;;
  color: white;
}

.box {
  box-shadow: #000000 0 5px 15px;
  padding: 15px;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
