<div class="mt-24 space-y-5 px-5 lg:px-20">
  <ng-container>
    <div class="p-5 shadow-lg rounded-md box my-5">
      <app-address-card></app-address-card>
    </div>

    <div class="grid grid-cols-1 gap-5 lg:grid-cols-3 relative justify-between py-5">
      <div class="col-span-2">
        <div class="space-y-3 box rounded-md">
          <div *ngFor="let product of products; let last = last">
            <app-cart-item [showButton]="false" [cartDetail]="product"></app-cart-item>
            <mat-divider *ngIf="!last"></mat-divider>
          </div>
        </div>
      </div>
      <section class="col-span-1 px-5 sticky top-0 h-[100vh] mt-5 lg:mt-0">
        <ng-container *ngIf="products">
          <div class="box p-5 rounded-md">
            <p class="font-bold text-gray-500 pb-4">PRICE DETAILS</p>
            <mat-divider></mat-divider>
            <div class="space-y-3">
              <div class="flex justify-between pt-3">
                <span>Total price</span>
                <span>Rs {{totalPrice}}</span>
              </div>
              <div class="flex justify-between pt-3">
                <span>Discount</span>
                <span class="text-green-700">-Rs {{discount}}</span>
              </div>

              <div class="flex justify-between pt-3">
                <span>Delivery Charges</span>
                <span class="text-green-700">Free</span>
              </div>

              <div class="flex justify-between font-semibold text-lg">
                <span>Total Amount</span>
                <span class="text-green-700">Rs {{totalDiscountedPrice}}</span>
              </div>
            </div>
            <div class="button-section">
              <button mat-raised-button
                      (click)="submitMyFormBro()"
                      style="padding: 1.5rem;"
                      class="text-lg mt-8 p-28 px-10 w-full"
                      [ngStyle]="{'background-color': '#60bb46'}"> Pay Via eSewa
              </button>
              <span class="span-section">OR</span>
              <button mat-raised-button
                      (click)="payViaDrizzle(order_id)"
                      style="padding: 1.5rem;"
                      class="text-lg mt-8 p-28 px-10 w-full"
                      [ngStyle]="{'background-color': '#f57224'}"
                      [title]="getButtonTitle()"
                      [disabled]="totalDiscountedPrice < 80000"> Buy Now Pay Later
              </button>
              <span>By placing an order, you are agreeing to our privacy policy and terms of use.</span>
            </div>
          </div>
        </ng-container>
      </section>
    </div>
  </ng-container>
</div>


<div class="form-container">
  <form [formGroup]="esewaForm" (ngSubmit)="submitMyFormBro()" class="hidden-form">
    <label>Amount</label>
    <input type="text" id="amount" formControlName="amount" value="80" class="form" required><br>

    <label>Tax Amount</label>
    <input type="text" id="tax_amount" formControlName="tax_amount" value="10" class="form" required><br>

    <label>Total Amount</label>
    <input type="text" id="total_amount" formControlName="total_amount" value="100" class="form" required><br>

    <label>Transaction UUID</label>
    <input type="text" id="transaction_uuid" formControlName="transaction_uuid" value="11-200-11" class="form" required><br>

    <label>Product Code</label>
    <input type="text" id="product_code" formControlName="product_code" value="EPAYTEST" class="form" required><br>

    <label>Product Service Charge</label>
    <input type="text" id="product_service_charge" formControlName="product_service_charge" value="5" class="form"
           required><br>

    <label>Product Delivery Charge</label>
    <input type="text" id="product_delivery_charge" formControlName="product_delivery_charge" value="5" class="form"
           required><br>

    <label>Success URL</label>
    <input type="text" id="success_url" formControlName="success_url" value="https://esewa.com.np" class="form"
           required><br>

    <label>Failure URL</label>
    <input type="text" id="failure_url" formControlName="failure_url" value="https://google.com" class="form"
           required><br>

    <label>Signed Field Names</label>
    <input type="text" id="signed_field_names" formControlName="signed_field_names"
           value="total_amount,transaction_uuid,product_code" class="form" required><br>

    <label>Signature</label>
    <input type="text" id="signature" formControlName="signature" value="4Ov7pCI1zIOdwtV2BRMUNjz1upIlT/COTxfLhWvVurE="
           class="form" required><br>
  </form>
</div>

<table align="center" class="hidden-form">
  <tr>
    <td>Secret Key:</td>
    <td><input type="text" id="secret" name="secret" value="8gBm/:&EnhH.1/q" class="form" required></td>
  </tr>
</table>
