<div class="flex">
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li *ngFor="let menu of model">
        <ul>
          <li *ngFor="let item of menu.items; let last = last">
            <a [routerLink]="item.routerLink" class="sidebar-link">
              <mat-icon class="mb-2">{{ item.icon }}</mat-icon>&nbsp;
              <span>{{ item.label }}</span>
            </a>
            <!-- Add a separator if it's not the last item -->
            <div *ngIf="!last" class="sidebar-separator"></div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
