<div class="box">
  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-3 lg:col-span-1">
      <div class="w-[3rem] h-[3rem]">
        <img
          class="w-full h-full rounded-full"
          src="https://img.faballey.com/images/Product/ILS00539Z/d3.jpg"
          alt="don">
      </div>
    </div>

    <div class="col-span-6 lg:col-span-9">
      <div class="space-y-2">
        <div>
          <p>{{review.user.firstName}} {{review.user.lastName}}</p>
        </div>

        <div>
          <app-star-rating [numberOfStars]="rating.rating"></app-star-rating>
        </div>

        <p>
          {{review.review}}
        </p>
      </div>
    </div>
  </div>
</div>
