<div class="p-5 lg:p-10 mt-10">
  <p class="text-gray-500 py-10">
    product/clothes/women/saree
  </p>

  <section class="lg:grid grid-cols-3 lg:gap-10">
    <div class="col-span-2 flex items-center flex-col">
      <img
        src="https://rukminim1.flixcart.com/image/612/612/xif0q/ethnic-set/2/l/r/l-6909-blue-libas-original-imafygzxftqzszfx-bb.jpeg?q=70"
        alt="Image">
    </div>

    <div class="col-span-1 space-y-10 mt-10 lg:mt-0">
      <div class="space-y-2">
        <p class="font-semibold text-gray-600 text-lg">No filter</p>
        <p class="text-xl">I Phone</p>
      </div>

      <div class="flex items-center space-x-5">
        <p class="text-lg">$1000</p>
        <p class="text-lg text-gray-700 line-through">$2999</p>
        <p class="text-lg text-green-600 font-semibold">80%</p>
      </div>

      <div>
        <p class="text-lg font-semibold">size</p>
        <mat-radio-group class="space-x-5"
                         aria-label="Select an option"
                         [(ngModel)]="selectedSize">
          <mat-radio-button value="S">
            <span>S</span>
          </mat-radio-button>
          <mat-radio-button value="M">
            <span>M</span>
          </mat-radio-button>
          <mat-radio-button value="L">
            <span>L</span>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <button mat-raised-button
                class="w-full"
                color="primary"
                style="padding: 1.5rem;"
                (click)="handleAddToCart()">Add To Cart
        </button>
      </div>

      <div>
        <p class="text-gray-600">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolores enim in laboriosam,
          libero magni mollitia, neque obcaecati, praesentium rem saepe. Adipisci architecto aspernatur atque, corporis
          deserunt dolorum ea eius expedita facilis, fugit hic in labore minima nemo numquam obcaecati provident quas
          quis, ratione recusandae repellat reprehenderit sed sit ut voluptas? Asperiores culpa inventore ipsam non
          placeat quaerat, rerum. Ad adipisci aspernatur debitis dolore dolorum, minima modi nostrum quaerat quasi quos
        </p>
        <p class="text-gray-600">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolores enim in laboriosam,
          libero magni mollitia, neque obcaecati, praesentium rem saepe. Adipisci architecto aspernatur atque, corporis
          deserunt dolorum ea eius expedita facilis, fugit hic in labore minima nemo numquam obcaecati provident quas
          quis, ratione recusandae repellat reprehenderit sed sit ut voluptas? Asperiores culpa inventore ipsam non
        </p>
      </div>
    </div>
  </section>

  <section class="pt-20 pb-10 px-5 lg:px-20">
    <h1 class="font-semibold text-lg pb-4">Recent Review And Ratings</h1>

  </section>
</div>
