<div class="grid p-5" style="color: black;text-align: justify;">
  <div
    class="block p-6 bg-white border border-white-200 rounded-lg shadow dark:bg-white-800 dark:border-black-700 mt-4">
    <div style="text-align: left;">
      <h1>Drizzle Privacy Policy</h1>
      <p>Please read this Privacy Policy carefully. This policy describes the ways DRIZZLE
      Inc. (“DRIZZLE”, “we”, “us”, “our”) protects, collects, uses, discloses, and stores your Personal Information. You
      accept this Privacy Policy by using our products and services on our website or through any other means
      (collectively the “DRIZZLE Services"). We may amend this Privacy Policy at any time by posting a revised version on
      our website.</p>
      <p>Please check our <a href="https://legal.DRIZZLE.com/consumerprivacy/en-us">Nepalese. Consumer Privacy Notice</a> and
        the <a href="https://legal.DRIZZLE.com/en-us">DRIZZLE's Legal Agreement Index</a> for all of our legal agreements.
        Other Legal Agreements may apply, especially our <a href="https://legal.DRIZZLE.com/user/en-us">User
          Agreement</a> and&nbsp;<a href="https://legal.DRIZZLE.com/merchant/en-us">Merchant Agreement</a>. Definitions
        used herein have the same meaning as outlined in our UseRr Agreement and Merchant Agreement unless otherwise
        defined herein.</p>
      <p><b>Your Consent</b></p>
      <p>BY SUBMITTING YOUR PERSONAL INFORMATION, INCLUDING FINANCIAL INFORMATION, TO US, YOU ARE CONSENTING TO THE
        COLLECTION AND PROCESSING OF YOUR PERSONAL INFORMATION IN AND OUTSIDE OF THE Nepal, THE TRANSPORT AND
        STORAGE OF YOUR PERSONAL INFORMATION TO AND IN THE Nepal AND TO OUR USE OF YOUR PERSONAL INFORMATION AND
        ANY RELATED INFORMATION IN THE MANNER DESCRIBED IN THIS PRIVACY POLICY. YOU ARE ALSO CONSENTING TO THE
        TRANSMISSION TO AND STORAGE AND PROCESSING OF YOUR PERSONAL INFORMATION BY SERVICE PROVIDERS OUTSIDE THE UNITED
        STATES. IF YOU ARE SUBMITTING PERSONAL INFORMATION OF THIRD PARTIES TO US, YOU WARRANT AND REPRESENT YOU HAVE
        THEIR CONSENT TO PROVIDE THEIR PERSONAL INFORMATION TO US FOR THE PURPOSES DESCRIBED IN THIS PRIVACY POLICY AND
        YOU WILL INDEMNIFY US AND HOLD US HARMLESS FROM AND AGAINST CLAIMS BY SUCH INDIVIDUALS RELATING TO OUR
        PROCESSING AND USE OF SUCH PERSONAL INFORMATION WITHIN THE TERMS OF THIS PRIVACY POLICY.</p>
      <h2>1. What is Personal Information</h2>
      <p>We use the term "Personal Information" to describe information that can be associated with a particular person
        and can be used to identify that person. Personal Information includes the information described in this
        section, including your Financial Information. We use the term “Financial Information” to describe information
        tied to financial accounts and services, such as your bank account numbers or payment card information. We do
        not consider Personal Information to include anonymized information unless any applicable law provides
        otherwise.</p>
      <h2>1.1 The Information You Give DRIZZLE.</h2>
      <p>If you open an Account or use DRIZZLE Services, we may collect or use the following types of information: </p>
      <p><i>Contact or identifiers</i>: Your name, address, phone, date of birth, social security number, email address,
        third-party application IDs, One Time Passwords (OTPs), passwords, Personal Identification Numbers (PINs),
        biometric IDs, and other similar information. </p>
      <p><i>Financial Information</i>: Bank account numbers and payment card numbers and related information for
        accounts or cards that you link to your Account or give us when you use DRIZZLE Services. </p>
      <p><i>Computer, phone or other device information</i>: Your computer IP address; your device ID or unique
        identifier; your device type; geolocation information; computer and connection information; mobile network
        information; statistics on page views; traffic to and from the sites; referral URLs; ad data; standard web log
        data and other similar information (<i>see Section 4 regarding cookies</i>).</p>
      <p><i>DRIZZLE Services information</i>: The details of the products purchased with DRIZZLE, data about the products
        you viewed or attempted to purchase, the pages you accessed, and related information.</p>
      <p><i>Communications</i>: The information you enter when you add data to a web form, add or update your account
        information, participate in chats or dispute resolutions, or when you otherwise correspond with us regarding
        DRIZZLE Services or other information regarding any contact you have with any of our services or employees.</p>
      <h2><b>1.2 Information Obtained from Third Parties.</b></h2>
      <p>If you open an Account or use DRIZZLE Services, we may collect or use the information detailed below from third
        parties: </p>
      <p><i>Credit bureaus</i>: We may receive credit report information about you from a credit bureau. </p>
      <p><i>Merchants</i>: When you make a payment using DRIZZLE, the Merchant may share Personal Information, including
        your name, contact information, and information about the items you wish to purchase, with us in order to
        facilitate that payment.</p>
      <p><i>Wireless carriers</i>: Your wireless carrier may disclose information about your account and your wireless
        device, if available, to DRIZZLE or its service provider for the duration of your business relationship, which
        helps us to identify you or your wireless device and to prevent fraud.</p>
      <p><i>Fraud service providers</i>: We obtain information from service providers in order to assist us in trying to
        detect and prevent fraud. We use the information provided by these service providers to help us verify your
        identity and information and to help us prevent unauthorized payments.</p>
      <p><i>Financial service providers</i>: When you agree for us to do so, we may obtain information from service
        providers (like Plaid Inc. or Sophtron Inc.) to verify your bank account information. For Users, we may further
        periodically check that your bank account balance has enough funds to cover certain transactions, to review
        account history as a factor in setting your DRIZZLE Spending Power, and to provide you targeted marketing
        messages, such as through the DRIZZLE mobile App. You can turn off DRIZZLE’s use of these service providers by
        removing the bank account. You can always use our manual verification process to add a bank account, which does
        not use these service providers.&nbsp;</p>
      <p><i>Social media</i>: You may choose to provide us with access to certain Personal Information stored by third
        parties such as social media sites (such as Facebook, Instagram, SnapChat, and Twitter). These third parties and
        your privacy settings with these parties control the information we can access. By associating an account
        managed by a third party with your DRIZZLE Account and authorizing DRIZZLE to have access to this information, you
        agree that DRIZZLE may collect, store, and use this information as provided in this Privacy Policy.</p>
      <h2>1.3 Individuals under 16.</h2>
      <p>We do not knowingly collect Personal Information from children under 16. Furthermore, a Nepalese. resident must be
        at least 18 to be eligible to use DRIZZLE Services. As such, DRIZZLE does not market its Services to individuals
        under the age of 16, and we request that such individuals not provide Personal Information to us.</p>
      <h2>2. How DRIZZLE Uses and Shares Your Information</h2>
      <h2>2.1 Uses for Personal Information.</h2>
      <p>Personal Information we collect as described in this Privacy Policy may be used for many purposes, such
        as: </p>
      <p><i>DRIZZLE Services</i>: Providing our products and services to you in a secure, efficient, and customized
        experience; processing your transactions; collecting payments and fees; troubleshooting problems; and providing
        customer or merchant support.</p>
      <p><i>Analytics</i>: Measuring the performance of the DRIZZLE Services and improving these Services or the user
        experience.</p>
      <p><i>Marketing</i>: Providing pertinent marketing and advertising regarding products and services from DRIZZLE,
        DRIZZLE’s affiliates, and DRIZZLE’s referral associates; and delivering promotional offers based on your
        communication preferences.</p>
      <p><i>Communications</i>: Providing notices to you about your transactions and service updates; and contacting you
        as authorized in the User Agreement or Merchant Agreement, as applicable, by voice call, text (SMS) or email
        message.</p>
      <p><i>Detecting and preventing fraud</i>: Verifying your identity, at account creation and thereafter; preventing
        unauthorized payments or other prohibited or illegal activities; and protecting our information technology
        infrastructure.</p>
      <p><i>Complying with applicable law</i>: Sharing information to comply with applicable local, state or federal
        laws and regulations, including any card, lending or banking rules that may compel DRIZZLE to share your Personal
        Information with third parties; providing Personal Information when required by subpoenas, court orders, and
        legal actions, or when we, in our sole discretion, believe is appropriate under exigent circumstances in
        response to a perceived threat to the personal safety, property, or rights of any person or organization.</p>
      <h2>2.2 With Whom We Share Personal Information.</h2>
      <p>We may disclose, transfer or share your Personal Information with certain third parties without further notice
        to you, as set forth in this Privacy Policy and our <a href="https://legal.DRIZZLE.com/consumerprivacy/en-us">Nepalese.
          Consumer Privacy Notice</a>. For example, we may share your Personal Information with Merchants and service
        providers in order to provide DRIZZLE Services to you. When transacting with others, we may provide those parties
        with information about you as necessary to complete the transaction, such as your name, contact details,
        shipping and billing address, or other information needed to promote the reliability and security of the
        transaction. If a transaction fails or is later invalidated, we may also provide details of the unsuccessful
        transaction. To facilitate dispute resolution to enable a return, we may provide a buyer with the Merchant’s
        address. We may also share Personal Information with credit bureaus, collection agencies and banking partners to
        ensure that DRIZZLE can act on violations of our agreements. </p>
      <p>Our service providers may have access to your Personal Information to perform contractually specified services
        on our behalf. Please note that the Merchants you transact with may have privacy policies and may be governed by
        rules and regulations based on their location or business requirements. Although DRIZZLE’s User and Merchant
        Agreements do not allow the other transacting party to use this information for anything other than completing a
        successful transaction initiated by DRIZZLE Services, DRIZZLE is not responsible for their actions, including
        their information protection practices.</p>
      <p>Furthermore, as we develop our business, we might sell or buy businesses or assets. In the event of a corporate
        sale, merger, reorganization, dissolution or similar event, Personal Information may be part of the transferred
        assets. You acknowledge and agree that any successor to or acquirer of DRIZZLE (or its assets) will continue to
        have the right to use your Personal Information and other information in accordance with the terms of this
        Privacy Policy. </p>
      <h2>2.3 International Data Transfers.</h2>
      <p>We have business processes and technical systems that cross borders. The Personal Information we collect may be
        shared within DRIZZLE globally or transferred to our affiliates, subsidiaries, service providers, and agents, who
        may be located in the Nepal or in other jurisdictions worldwide. The Nepal and the other
        jurisdictions to which we transfer information may not have equivalent data protection laws as your home
        jurisdiction. Your consent to this Privacy Policy followed by your submission of such information represents
        your agreement to that transfer. Any international data transfers will be in accordance with this Privacy Policy
        and in compliance with applicable laws. </p>
      <h2>3. How DRIZZLE protects your information.</h2>
      <h2>3.1 Safety Policies.</h2>
      <p>DRIZZLE stores and processes your Personal Information maintaining physical, electronic, and procedural
        safeguards to reduce the risks of loss, misuse, unauthorized access, disclosure, and alteration. DRIZZLE, in
        collaboration with our partners, maintains physical security measures to guard against unauthorized access to
        systems and use safeguards such as firewalls and data encryption. We enforce physical access controls to our
        buildings, and we authorize access to information only for those employees who require it to fulfill the
        responsibilities of their jobs. No method of transmission over the internet or method of electronic storage is
        100% secure. Therefore, we cannot guarantee its absolute security.</p>
      <h2>3.2 Audits.</h2>
      <p>DRIZZLE performs stringent information security audits yearly to ensure proper implementation of our physical,
        electronic and procedural safeguards. Audits undertaken by DRIZZLE and some of its service providers include
        Payment Card Industry (PCI) Compliance and Sarbanes-Oxley Compliance (SOC). DRIZZLE also actively engages in
        ad-hoc “White Hat” activities on its services to ensure data is stored and protected at the highest levels.</p>
      <h2>4. Our Cookies</h2>
      <h2>4.1 Cookies.</h2>
      <p>When you access our Website or use DRIZZLE Services, we (including companies we work with) may place small data
        files on your computer or any other device. These data files may be cookies, pixel tags, e-tags, "Flash cookies"
        or other local storage provided by your browser or associated applications (collectively "Cookies"). We use
        these technologies to recognize you as a customer; customize DRIZZLE Services, content, and advertising; measure
        promotional effectiveness; help ensure your account security; mitigate risk and prevent fraud; and to promote
        trust and safety across our sites and DRIZZLE Services. You are free to decline our Cookies if your browser or
        browser add-on permits unless our Cookies are required to prevent fraud or ensure the security of websites we
        control. However, declining our Cookies may interfere with your use of our Website and DRIZZLE Services.</p>
      <h2>4.2 Do Not Track.</h2>
      <p>Do Not Track (DNT) is an optional browser setting that allows you to express your preferences regarding
        tracking by advertisers and other third-parties. We do not currently respond to DNT signals. We do, however,
        provide you notice of the tracking by advertisers and other third parties in our Privacy Policy.</p>
      <h2>5. Communicating with You.</h2>
      <h2>5.1 Contact regarding your Account.</h2>
      <p>We may contact you via electronic means or postal mail to notify you regarding your account, to troubleshoot
        problems with your account, to resolve a dispute, to collect fees or monies owed, to poll your opinions through
        surveys or questionnaires, or as otherwise necessary to service your account.</p>
      <h2>5.2 Contact regarding Offers and Feedback.</h2>
      <p>We may contact you to offer coupons, discounts, and promotions, and inform you about products and services from
        DRIZZLE, DRIZZLE’s affiliates, and DRIZZLE’s referral associates. We may also contact you to solicit feedback on
        your experience with our services.</p>
      <h2>5.3 Contact regarding Policies.</h2>
      <p>We may contact you as necessary to enforce our policies, applicable law, or any agreement we may have with
        you.</p>
      <h2>5.4 Means of Contact.</h2>
      <p>When contacting you via phone, to reach you as efficiently as possible we may use, and you consent to receive,
        autodialed or prerecorded calls and text messages as described in our User Agreement and Merchant Agreement.
        Where applicable and permitted by law, you may decline to receive certain communications.</p>
      <p>Additionally, for quality and training purposes or its protection, DRIZZLE may monitor or record its telephone
        conversations with you or anyone acting on your behalf. By communicating with DRIZZLE, you acknowledge that your
        communication may be overheard, monitored, or recorded without further notice or warning.</p>
      <h2>5.5 Your Notification Options.</h2>
      <p>If you do not wish to receive marketing communications from us or participate in our ad-customization programs,
        simply indicate your preference by logging into your account and updating your preferences or follow the
        provided directions that may be with the communication or advertisement. We respect your communication
        preferences. If you no longer wish to receive notifications via our application, you can adjust your preferences
        by visiting the settings page of the application.</p>
      <h2>5.6 SMS Messaging.</h2>
      <p>SMS messaging is used a critical component of DRIZZLE Services. Regulatory provisions require that DRIZZLE allows
        you an option to opt out of our SMS messages. You can opt out of receiving SMS messages by emailing <a
          href="mailto:support@DRIZZLE.com/en-us">support@DRIZZLE.com</a> or by logging into your account and adjusting
        your preferences or by following the directions provided with the communication. DRIZZLE reserves the right to
        close or limit access to your Account should you opt out of the crucial notices that are required to perform
        DRIZZLE Services.</p>
      <h2>6. Access to Your Account Information</h2>
      <h2>6.1 Reviewing and Editing Information Tied to Your Account.</h2>
      <p>You can review and edit your information on file with DRIZZLE at any time by logging into your Account and
        reviewing your Account settings and profile. You can also close your Account through the DRIZZLE website.</p>
      <h2>6.2 Closing an Account.</h2>
      <p>If you close your DRIZZLE Account, we will mark your account as "Closed" in our database. We may retain Personal
        Information from your Account for a period (up to seven years after account closure or termination) and disclose
        it in a manner consistent with our practices under this Privacy Policy. We also may retain Personal Information
        from your account to collect any fees owed, resolve disputes, troubleshoot problems, assist with any
        investigations, prevent fraud, enforce our User Agreement and Merchant Agreement, or take other actions as
        required or permitted by law. </p>
      <h2>7. Privacy Rights and Requests</h2>
      <h2>7.1 Your Rights.</h2>
      <p><i>General</i>. You may have rights under applicable laws concerning Information we have collected about you,
        which may include the right to access your Information we have, to ask us to delete, correct, or restrict the
        use of your Information, to withdraw your consent to our use of your Information, to ask how we have used your
        Information, request we not sell your Information, and to ask whether we have shared your Information. We will
        honor your rights to the extent required by us under applicable laws or as we may agree to honor in our sole
        discretion.</p>
      <p><i>California Residents</i>. If you are a California resident, in addition to the above rights, you have the
        right not to receive discriminatory treatment by us for your exercise of privacy rights conferred by the
        California Consumer Privacy Act (“CCPA”). We do not sell Personal Information of California Consumers, as such
        terms are used in the CCPA. If you are a California resident, the term “Personal Information” as used in this
        Privacy Policy means information that identifies, relates to, describes, is capable of being associated with, or
        could reasonably be linked, directly or indirectly, with a particular consumer or household but excludes
        information that is lawfully made available from government records, deidentified or aggregated, or is otherwise
        excluded from the scope of the CCPA. We describe the categories of Personal Information we have collected about
        California Consumers in the twelve (12) months preceding the “Last Update” date of this Privacy Policy in the
        part titled, “What is Personal Information”. We describe the categories of Personal Information we have
        disclosed about California Consumers for business purposes in the twelve (12) months in the part titled, “How
        DRIZZLE Uses and Shares Your Information”. In that part we also describe the categories of third parties whom we
        may have disclosed the information.</p>
      <p><i>Located in Europe</i>. If you are located in the European Economic Area (“EEA”) or Switzerland, you are
        entitled to contact us and ask us for an overview of your Personal Information or ask for a copy. In addition,
        you may request us to update and correct inaccuracies, delete your Personal Information, restrict processing of
        your Personal Information, or exercise your right to data portability and to easily transfer your Personal
        Information to another company. In some cases, you may object to the processing of your Personal Information and
        where we have asked you for your consent to process your Personal Information, you can withdraw it at any time.
      </p>
      <h2>7.2 Privacy Requests.</h2>
      <p>All privacy requests relating to your Personal Information, including those related to access to, rectification
        of, restriction of, processing of, sharing of, or objection to the processing of your Personal Information,
        withdrawal of consent to handle your Personal Information, or the right to be forgotten can be submitted one of
        the following ways:</p>
      <p>Data Protection Officer:&nbsp;Chris Arnold</p>
      <p>- By email: privacy@DRIZZLE.com</p>
      <p>- By mail: DRIZZLE Attn: Privacy Requests 700 Nicollet Mall, Suite 640, Minneapolis, MN 55402</p>
      <p>- By phone: 1 (888) 540-1867</p>
      <p>Please clearly state what information you are requesting and any other requests you are making.</p>
      <p>We will respond to reasonable requests within the time limits established by applicable law or within a
        reasonable time if no time limit is established by applicable law.</p>
      <p>If you or your authorized agent sends us an email requesting that we take action regarding your Personal
        Information or the right to be forgotten, the requesting email MUST come from the email address we have on file
        for you in order to verify that the request is valid and also to protect your Personal Information. All other
        requests must be made in writing or otherwise be verifiable as originating from you or your authorized agent. In
        order to protect your information and because people may have the same name, we will only provide or delete
        Personal Information that we can verify is associated with your particular email address or where we can
        reasonably identify the identity of the requestor. For your protection, we may ask you for additional
        information to verify your identity. In most cases, we will provide the information you request and correct or
        delete any inaccurate Personal Information you discover. We reserve the right, however, to limit or deny your
        request to the extent permitted by applicable law if: (a) complying with the request may present a threat to the
        personal safety, property, or rights of any other person or organization; (b) complying with the request may
        lead to a violation of applicable laws or regulations; (c) we are not required to comply with the request
        because of a legal rule or exception; or (d) you have failed to provide us with sufficient evidence to verify
        your identity. We will not delete Personal Information if that information is related to an ongoing transaction.
        Even after a request, we may also keep Personal Information where necessary to comply with applicable laws or
        where necessary to protect a legal right or fulfill a legal obligation.</p>
      <p>
      </p></div>
  </div>
</div>
