/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #0b0b0b;
  color: white;
}

.box {
  box-shadow: #000000 0 5px 15px;
  padding: 15px;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.input__item {
  flex: 1 0 25%;
  border: 1px solid black;
  border-radius: 8px;
  height: 45px;
  width: 20rem;
}
.search__button {
  align-self: flex-end;
}


html, body { height: 100%; }
