<div class="container">
  <form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
    <h1>Sign Up</h1>

    <div>
      <mat-form-field class="w-full">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required firstName>
        <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">First name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required lastName>
        <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">Last name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required email>
        <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">Email not valid!</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required password>
        <mat-error *ngIf="signUpForm.controls['password']
        .hasError('required')">Password is required
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['password']
        .hasError('minlength')">Password should be at least 8 characters long
        </mat-error>
      </mat-form-field>

      <div class="flex flex-row align-justify">
        <mat-checkbox [checked]="checkboxChecked" (change)="checkboxChange($event)"></mat-checkbox>
        <span style="color: #a9a9a9">By continuing, I agree to receive text messages for service notifications and verification codes
          Refer to our Drizzle <a routerLink="agreement" (click)="closeDialogBox()"><u>User Agreement</u></a> and
          <a routerLink="policy" (click)="closeDialogBox()"><u>Privacy Policy.</u></a></span>
      </div>

      <div class="mt-3">
        <div class="grid grid-cols-2 gap-1">
          <button mat-raised-button
                  class="w-full"
                  id="user"
                  style="padding:1.7rem"
                  color="accent"
                  (click)="setRole('USER')"
                  [disabled]="!signUpForm.valid || !checkboxChecked">
            Shopper Sign Up
          </button>
          <button mat-raised-button
                  class="w-full"
                  id="merchant"
                  style="padding:1.7rem"
                  color="accent"
                  (click)="setRole('SUPER_ADMIN')"
                  [disabled]="!signUpForm.valid || !checkboxChecked">
            Merchant Sign Up
          </button>
        </div>

        <div class="pt-5">
          <span>Already have account?</span>
          <button mat-button
                  (click)="changeTemplate()"
                  color="accent">
            LOGIN
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
